.grid-1 {
    display: grid;
    grid-template-columns: 640px 380px; //changes width of each column Ironically. 
    grid-template-rows: 380px 380px; //changes height of each column
    align-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }

.item-1 {
    margin-top: 20px;
}
.item-2 {
    // background-color: purple;
}

.cardtest{
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    // transform: translate(-50%, -50%) 
}

.link {
    color: blue;
}