

.App {
  text-align: center;
  background-color: #f55b89;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.centerNavBar {
  align-items: center;
  justify-content: center !important;
  margin: auto;
  /* color: black; */
}

.header {
  height: 50 !important;
  width: 50 !important;
  text-shadow: 2px 2px 4px #000000;
  /* max-width:50% !important; */
  padding: 50px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
