

.App {
  text-align: center;
  background-color: #f55b89;
  min-width:500px;
  min-height:1300px;
  /* width: device-width; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.center{
  align-items: center;
  justify-content: center !important;
}

.centerNavBar {
  align-items: center;
  justify-content: center !important;
  /* margin: 0px 0px 00px 200px; */
}

.header {
  height: auto;
  width: 50px !important;
  /* max-width:50% !important; */
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
}

.topright {
  position: absolute; 
  top: 8px;
  right: 16px;
  font-size: 18px;
}

